.client {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-color: black;
  margin: 30px auto;
  border-radius: 10px;
  color: white;
  height: 70vh;
  padding: 20px;
}
.client-content {
  width: 80%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 90%;
  background-color: #413d3d;
}
.client-heading {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.client-list {
  display: flex;
  overflow: hidden;
  width: 80%;
  gap: 10px; /* space between images */
  justify-items: center;
  align-items: center;
}


.client-list img {
  object-fit: contain;
  border-radius: 5px;
    animation: slideImages 10s linear infinite;
}

@keyframes slideImages {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(-400px);
  }
  
}

button {
  height: 45px;
  width: 200px;
  border-radius: 28px;
  border: 0.5px solid white;
  background-color: transparent; /* Make fill transparent */

  transition: all 0.3s ease-in-out;
  cursor: pointer;

  a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
  }
}
button:hover {
  
  border: 2px solid #46ff65;
  transform: scale(1.1);
  a {
    color: #46ff65;
  }
}

@media (max-width: 990px) {
  .client-list {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    gap: 8px; /* Adjust space between images */
    align-items: center;
  }

  .client-heading {
    flex-direction: column; /* Stack heading elements vertically */
    align-items: center; /* Center align items */
  }
  .client-item {
    width: 100%; /* Full width for smaller screens */
    height: 60px; /* Adjust height for smaller screens */
  }
  .client-item img {
    width: 60%; /* Make image responsive */
    height: 40px; /* Maintain aspect ratio */
  }
}
