.client{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #010101, #260d17);
    margin: 20px 0;
    border-radius: 10px;
    color: white;
    justify-content: space-evenly;
    padding: 20px;
    gap: 20px;
}
.client-heading{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.client-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 20px; /* space between images */
    justify-items: center;
    align-items: center;
}
.client-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 200px;
    background-color: #D9D9D9;
    border-radius: 5px;
    opacity: 80%;
    img{
        border-radius: 5px;
    }
}

button{
    height: 45px;
    width: 200px;
    border-radius: 28px;
    border: .5px solid white;
    background-color: #220c15;
    transition: all .3s ease-in-out;
    cursor: pointer;
    a{
        text-decoration: none;
        color: #fff;
    }
   
}
button:hover{
    background-color: #fff;
    border: 1px solid black;
    transform: scale(1.1);
    a{
        color: #000;
    }
}

@media (max-width: 900px) {
    .client-list {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
        gap: 8px; /* Adjust space between images */
        align-items: center;
    }
    
    .client-heading {
        flex-direction: column; /* Stack heading elements vertically */
        align-items: center; /* Center align items */
    }
    .client-item {
        width: 100%; /* Full width for smaller screens */
        height: 80px; /* Adjust height for smaller screens */
    }
    .client-item img {
        width: 60%; /* Make image responsive */
        height: 60px; /* Maintain aspect ratio */
    }
}


