nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
     a{
        text-decoration: none;
        color: #000;
    }
}


.logo {
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    gap: 200px;
}

.nav-contact{
    i{
        font-size: 20px;
        color: #000;
    }
}

.hamburger{
    display: none;
    font-size: 20px;
    cursor: pointer;
}



.mobile-menu{
    display: none;
}

@media (max-width: 768px) {
    .menu{
        display: none;
    }
    .nav-contact{
        display: none;
    }
    .hamburger{
        display: block;
    }
  
}