.service {
  padding: 20px;
  width: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-header {
  width: 100%;
  .s-header {
    font-size: 2rem;
    font-weight: bold;
    text-align: start;
    margin-left: 100px;
    h1 {
     font-size: 80px;
     font-weight: bold;
     color: transparent; /* Make fill transparent */
     -webkit-text-stroke: .6px #000; /* Outline thickness and color */
}
  }
  .s-subheader {
    font-size: 1.2rem;
    text-align: end;
    margin-right: 100px;
 
    h5 {
      font-weight: 400;
      color: #333;
    }
  }
}

.service-list {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.service-item {
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  .item-heading {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 20px;
    text-align: center;
  }

  .item-content {
    text-align: start;
    font-size: 0.8rem;
    height: 250px;
    width: 230px;
    padding: 10px;
    background-color: #46ff65;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    ul {
      padding: 0;
      li {
        margin-bottom: 10px;
        font-size: 1rem;
        list-style: none;
        p {
          margin: 0;
          font-size: 0.6rem;
        }
      }
    }
  }
}
.service-item:hover {
  transform: rotate(5deg) scale(1.05);
}

@media (max-width: 768px) {
  .service {
    padding: 10px;
  }
  .service-header {
    .s-header {
      h1{
        font-size: 2.5rem;
        margin-left: 0px;
      }
      margin-left: 0px;
    }
    .s-subheader {
      font-size: 0.8rem;
      margin-right: 20px;
    }
  }
  .service-list {
    flex-direction: column;
    align-items: center;
  }
  .service-item {
    width: 90%;
    margin-bottom: 20px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.container:hover {
  transform: scale(1.05) rotate(3deg);
}

.title-box {
  display: inline-block;
  padding: 10px 10px;
  background: white;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-weight: bold;
  width: 70%;
  margin-bottom: -20px;
  margin-left: -10px;
  transform: scale(0.8); ;
}

.content-box {
  
  background-image: url(/images/Subtract.png); /* bright green */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px 40px 25px 40px;
  margin-top: -10px; /* slight overlap */
  clip-path: path("M 0 0 H calc(100% - 50px) Q 100% 0 100% 50 V 100% Q 100% 100% 0 100% Z");
  border-radius: 20px;
  height: 280px;
  width: 250px;
}

.content-box ul {
  list-style-type: disc;
  padding-left: 20px;
  
}

.content-box li {
  margin: 10px 0;
  font-weight: bold;
  p{
    font-size: small;
  }
}